body {
	font-family: 'Helvetica';
	text-align:center;
	margin:0 auto;
}
ul {
	list-style-type: none;
}
/*
	Header
*/
header {
	width: 320px;
	height: 44px;
	background-image: -webkit-gradient(
		linear, 
		0% 0%, 
		0% 100%, 
		from(#666666), 
		to(#666666), 
		color-stop(.5,#333333)
	);
	/*Add Mozilla Firefox gradient*/
	background-image: -moz-linear-gradient(top,  #666666,  #333333);
	font-family: Helvetica;
	
	-webkit-box-sizing: border-box;
	/*Add Mozilla Firefox box-sizing attribute*/
	-moz-box-sizing: border-box;
	
	text-align: center;
	color: #ffffff;
	padding-top: 10px;
	
	font-weight: bold;
	font-size: 1.5em;
}

/* 
	Nav
*/
nav {
	margin-left: auto;
	margin-right: auto;
	height: 44px;
	width: 320px;
	background-image: -webkit-gradient(
			linear, 
			0% 0%, 
			0% 100%, 
			from(#aaaaaa), 
			to(#aaaaaa), 
			color-stop(.5,#cccccc)
		);
	background-image: -moz-linear-gradient(top,  #aaaaaa,  #cccccc);
}
nav ul {
	height: 44px;
	width: 320px;
	margin-left: auto;
	margin-right: auto;
}
nav ul li {
	display: inline-block;
	float: left;
	width: 64px;
	height: 44px;
	border: 1px solid #999999;
	-webkit-box-sizing: border-box;
	/*Add Mozilla Firefox box-sizing attributes*/
	-moz-box-sizing: border-box;
	
	background-repeat: no-repeat;
	background-position: center center;
}
nav ul li:nth-child(1n+2) {
	border-left-width: 0px;
}

#liHome {
	background-image: url('../icons/icons/53-house.png');
}
#liHome.selected {
	background-image: url('../icons/icons/53-house.png'),
		-moz-linear-gradient(
				top,
				#dddddd,
				#cccccc);
	background-image: url('../icons/icons/53-house.png'),
		-webkit-gradient(
				linear, 
				0% 0%, 
				0% 100%, 
				from(#dddddd), 
				to(#dddddd), 
				color-stop(.5,#cccccc));
	}
#liTweets {
	background-image: url('../icons/icons/23-bird.png');
}
#liTweets.selected {
	background-image: url('../icons/icons/23-bird.png'),
		-moz-linear-gradient(
				top,
				#dddddd,
				#dddddd);
	background-image: url('../icons/icons/23-bird.png'),
		-webkit-gradient(
				linear, 
				0% 0%, 
				0% 100%, 
				from(#dddddd), 
				to(#dddddd), 
				color-stop(.5,#cccccc));
}
#liMap {
	background-image: url('../icons/icons/103-map.png');
}
#liMap.selected {
	background-image: url('../icons/icons/103-map.png'),
		-moz-linear-gradient(
				top,
				#dddddd,
				#dddddd);
	background-image: url('../icons/icons/103-map.png'),
		-webkit-gradient(
				linear, 
				0% 0%, 
				0% 100%, 
				from(#dddddd), 
				to(#dddddd), 
				color-stop(.5,#cccccc)
			);	
}
#liFacts {
	background-image: url('../icons/icons/122-stats.png');
}
#liFacts.selected {
	background-image: url('../icons/icons/122-stats.png'),
		-moz-linear-gradient(
				top,
				#dddddd,
				#dddddd);
	background-image: url('../icons/icons/122-stats.png'),
		-webkit-gradient(
				linear, 
				0% 0%, 
				0% 100%, 
				from(#dddddd), 
				to(#dddddd), 
				color-stop(.5,#cccccc)
			);	
}
#liAbout {
	background-image: url('../icons/icons/123-id-card.png');
}
#liAbout.selected {
	background-image: url('../icons/icons/123-id-card.png'),
		-moz-linear-gradient(
				top,
				#dddddd,
				#dddddd);
	background-image: url('../icons/icons/123-id-card.png'),
		-webkit-gradient(
				linear, 
				0% 0%, 
				0% 100%, 
				from(#dddddd), 
				to(#dddddd), 
				color-stop(.5,#cccccc)
			);	
}
div#main {
	width: 320px;
	margin-left: auto;
	margin-right: auto;
}
div#main.height {
	height: 312px;
}
div#main.textChange {
	font-family: Helvetica;
	text-align: center;
	color: #ffffff;
}