<h1>About this app:</h1>
<br>
<ul id="about">
<li>
This app is written in HTML5, JavaScript and CSS3.
</li>
<br>
<li>
It uses the jQuery JavaScript library which is available at <a href="http://www.jquery.com/">jQuery.com</a>.
</li>
<br>
<li>
It also uses the gmap jQuery plugin, which interfaces nicely with the Google Maps API.  This plugin can be found at <a href="http://gmap.nurtext.de/">http://gmap.nurtext.de/</a>.
</li>
<br>
<li>
For Twitter functionality, the app uses the jQuery Twitter API Plugin called jquery.twitter.js, which is available at <a href="http://coda.co.za/content/projects/jquery.twitter/">http://coda.co.za/content/projects/jquery.twitter/</a>.
</li>
<br>
<li>
The HTML/CSS Layout is based on the Tweetstr package provided in our startup zip file for this projct.
</li>
<br>
<li>
This app was written and developed by Ryan Hartman for Dr. Oge Marques' Intro to Internet Computing class for Summer of 2011.
</li>
</ul>