<h1>FAU Facts for 2011:</h1>
<br>
<ul id="facts">
<li>
Motto:
"Where Tomorrow Begins"
</li>
<br>
<li>
Established:
1961
</li>
<br>
<li>
Type:
Public
</li>
<br>
<li>
Endowment:
$156.4 million
</li>
<br>
<li>
President:
Dr. Mary Jane Saunders
</li>
<br>
<li>
Academic Staff:
1,621
</li>
<br>
<li>
Admin. Staff:
1,652
</li>
<br>
<li>
Students:
28,000
</li>
<br>
<li>
Undergraduates:
20,946
</li>
<br>
<li>
Postgraduates:
3,874
</li>
<br>
<li>
Other Students:
2,077
</li>
<br>
<li>
Location:
Boca Raton, FL, USA
</li>
<br>
<li>
Coordinates:
26.3712&deg;N 80.10166&deg;W
</li>
<br>
<li>
Campus Info:
Urban area
850 acres (3.5 km&sup2;)
6 other satellite campuses
</li>
<br>
<li>
Colors:
FAU Blue, FAU Red, and FAU Silver
</li>
<br>
<li>
Athletics:
NCAA Division I, SBC
19 varsity teams
</li>
<br>
<li>
Nickname:
Owls
</li>
<br>
<li>
Mascot:
Owlsey the Burrowing Owl
</li>
<br>
<li>
Affiliations:
AACSB, NASULGC, NSGCFP, SACS, SUSF, ORAU
</li>
<br>
<li>
Website:
<a href="http://www.fau.edu/">fau.edu</a>
</li>
<br>